<div>
  <h1>hey👋 I'm Scooter 🛵</h1>
  <p>I am a full-stack web developer and very passionate about technology and computer science. I participated in 9 week full-time coding bootcamp at <a href="https://www.lewagon.com/">Le Wagon Tokyo</a> and graduated in March 2021. Since then, I am learning new concepts everyday to become a better developer.</p>
  <div class="d-inline skills">
    <%= image_tag "logos/smaller-ruby.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/smaller-rails.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/smaller-javascript.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/smaller-heroku.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/smaller-github.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/smaller-html.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/smaller-css.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/smaller-sass.png", alt: "alttext", class: "skill-icon" %>
  </div>
</div>
