<div>
  <h1>hello👋</h1>
  <p>I am a full-stack web developer and very passionate about technology and computer science. I participated 9 week full-time coding bootcamp by <a href="https://www.lewagon.com/">Le Wagon Tokyo</a> and graduated in March 2021. Since then, I am learning new concepts everyday to become a better developer.</p>
  <div class="d-inline">
    <%= image_tag "logos/ruby.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/rails.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/javascript.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/github.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/html.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/css.png", alt: "alttext", class: "skill-icon" %>
    <%= image_tag "logos/sass.png", alt: "alttext", class: "skill-icon" %>
  </div>
</div>
