<div class="scroll-container">
  <div class="scroll-page">
    <%= partial 'components/banner' %>
    <%= partial 'components/menu_and_name' %>
  </div>
  <div class="scroll-page container d-flex align-items-center justify-content-between" id="Info">
    <%= image_tag "profile-picture2.JPG", alt: "alttext", class: 'about-me-pic mr-3' %>
    <%= partial 'components/about_me' %>
  </div>
  <div class="scroll-page p-5" id="Projects">
    <h2 class="mt-2"><i class="far fa-file-code"></i> Past Projects</h2>
    <%= partial 'components/projects' %>
  </div>
  <div class="scroll-page" id="Hobbies">
    <div class="d-flex w-100 h-100 justify-content-around align-items-center fluid-container">
          <%= partial 'components/hobby_card', locals: {photo: "hobby2.jpg", title: "Hardware", content: "test"}%>
          <%= partial 'components/hobby_card', locals: {photo: "hobby1.jpg", title: "Photography", content: "test" } %>
          <%= partial 'components/hobby_card', locals: {photo: "hobby3.jpg", title: "Sports", content: "test"}%>
    </div>
  </div>
  <div class="scroll-page" id="Contact">
    <%= partial 'components/contact'  %>
  </div>
</div>
