<div class="scroll-container">
  <div class="scroll-page">
    <%= partial 'components/banner' %>
    <%= partial 'components/menu_and_name' %>
  </div>
  <div class="scroll-page container d-flex align-items-center justify-content-between" id="Info">
    <%= image_tag "profile-picture.jpg", alt: "alttext", class: 'avatar-large mr-3' %>
    <%= partial 'components/about_me' %>
  </div>
  <div class="scroll-page p-5" id="Projects">
    <%= partial 'components/projects' %>
  </div>
  <div class="scroll-page" id="Hobbies">
    <h1>Hobbies</h1>
  </div>
  <div class="scroll-page" id="Contact">
    <%= partial 'components/contact'  %>
  </div>
</div>
